---
import OpenLink from './OpenLink.astro';

const { blogs } = Astro.props;
---

<section class="container">
  <h2>FEATURED BLOGS</h2>

  <div class="blogs">
    {blogs.map(blog => (
    <div class="blog">
      <a href={blog['Link'].url} target="_black" rel="noreferrer">{blog['Title']}</a>
      <p class="date">{blog['Date']}</p>
    </div>
    ))}
  </div>

  <OpenLink link="https://www.instagram.com/reactoverflow">View more</OpenLink>
</section>

<style>
  h2 {
    color: var(--text-color-2);
    font-size: 0.9rem;
    letter-spacing: 0.1em;
    margin: 2em 0;
  }

  .blog {
    margin-bottom: 2em;
  }

  .blog a {
    color: var(--text-color-1);
    margin-bottom: 0.2em;
    display: inline-block;
    text-decoration: none;
    transition-duration: 0.3s;
    position: relative;
  }

  .blog a::after {
    content: '';
    border: 1px solid rgb(46, 46, 46);
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    position: absolute;
    transition-duration: 0.3s;
    opacity: 0;
  }

  .blog:hover a::after {
    width: 100%;
    opacity: 100%;
  }

  .blog .date {
    color: var(--text-color-2);
  }

</style>
