---
import ThunderIcon from './ThunderIcon.astro';
import CodeIcon from './CodeIcon.astro';

export interface Props {
  title: string;
  about: string;
  live: string;
  source: string;
}

const { title, description, live, source } = Astro.props;
---

<div class="card">
  <p class="title">{title}</p>
  <p class="description">{description}</p>
  <div class="links">
    <a href={live} target="_black" rel="noreferrer">
      <span>Live</span>
      <ThunderIcon />
    </a>
    <a href={source} target="_black" rel="noreferrer">
      <span>Source</span>
      <CodeIcon />
    </a>
  </div>
<div>

<style>
  .card {
    border: 2px solid var(--card-border-color);
    border-radius: 3px;
    padding: 1em;
    padding-bottom: 3.5em;
    width: 18em;
    transition-duration: .3s;
    margin-right: 1em;
    position: relative;
  }

  .card:first-child::before {
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50px;
    top: 50%;
    transform: translateY(-50%);
    left: -100px;
    border: 2px solid #373737;
    animation-name: swipe-hint;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  @keyframes swipe-hint {
    0% {
      transform: translateX(0) scale(100%) translateY(-50%);
    }

    30% {
      transform: scale(70%) translateY(-50%);
    }

    70% {
      transform: translateX(-50px) scale(70%) translateY(-50%);
    }

    80% {
      transform: translateX(-50px) scale(100%) translateY(-50%);
    }

    100% {
      transform: translateX(0) scale(100%) translateY(-50%);
    }
  }

  .card:hover {
    border-color: var(--card-border-color-hover);
    background: var(--card-background-hover);
  }

  .title {
    color: var(--text-color-1);
    font-size: 1.2rem;
    font-weight: 500;
  }

  .description {
    color: var(--text-color-2);
    margin-top: 1em;
  }

  .links {
    position: absolute;
    bottom: 1em;
  }

  .links a {
    margin-right: 1em;
    color: var(--text-color-1);
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    font-size: 0.9rem;
    padding: 0.4em;
    border-radius: 3px;
    transition-duration: 0.2s;
  }

  .links a:hover {
    background: var(--text-hover-background);
  }

  .links a span {
    margin-right: 0.3em;
  }
</style>
