<header class="header container">
  <nav>
    <ul>
      <li>Home</li>
      <li>Blogs</li>
      <li>Projects</li>
      <li>Experience</li>
    </ul>
  </nav>
</header>

<style>
  .header {
    margin-top: 5em;
    color: var(--text-color-1);
    display: none;
  }

  ul {
    display: flex;
    list-style: none;
  }

  ul li {
    margin-right: 2em;
  }
</style>
