---
import Header from '../components/Header.astro';
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
<style is:global>
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

  *,
  *::before,
  *::after,
  body,
  html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: 7px;
    scrollbar-color: var(--text-color-2) rgba(0, 0, 0, 0);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 7px;
  }

  *::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--text-color-2);
    border-radius: 10px;
    border: 3px solid rgba(0, 0, 0, 0);
  }

  /* Text selection color */
  ::-moz-selection {
    background: var(--text-selection-color);
  }

  ::selection {
    background: var(--text-selection-color);
  }

  :root {
    font-size: 16px;
    --background-color: #080808;
    --text-color-1: #EDEDED;
    --text-color-2: #8E8E8E;
    --text-color-3: #8b8b8b;
    --text-hover-background: #323232;
    --text-selection-color: #2e2e2e;

    --card-border-color: #1c1c1c;
    --card-border-color-hover: #6e6e6e;
    --card-background-hover: #141414; 
  }

  body {
    background: var(--background-color);
  }

  .container {
    max-width: 750px;
    margin: auto;
  }

  @media screen and (max-width: 750px) {
    .container {
      padding: 16px;
    }
  }
</style>
